html,
body {
    width: 100%;
    height: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: orangered;
}

.anchor {

}
header {
    text-align: center;
}
footer {
    text-align: center;
}